model_config_list: {
  config: {
    name: "corn_maize_classifier",
    base_path: "/models/models_tf/corn_maize_classifier",
    model_platform: "tensorflow"
  },
  config: {
    name: "grapes_classifier",
    base_path: "/models/models_tf/grapes_classifier",
    model_platform: "tensorflow"
  },
  config: {
    name: "potato_classifier",
    base_path: "/models/models_tf/potato_classifier",
    model_platform: "tensorflow"
  },
  config: {
    name: "tomato_classifier",
    base_path: "/models/models_tf/tomato_classifier",
    model_platform: "tensorflow"
  }
}

